.shopTitle{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
}
.products{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    place-items: center;
}
.product{
    border-radius: 15px;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description{
    margin:1rem auto;
    text-align: center;
    padding: 0.5rem auto;
}
.description p{
    margin-bottom: 0.5rem;
}
.addtocartbtn{
    width: 7rem ;
    height: 2.5rem;
    border: 1px bold black;
    border-radius: 18px;
    cursor: pointer;
    transition: ease-in 0.2s;
}
.addtocartbtn:hover{
    transition: ease-in-out 0.3s;
    background-color: black;
    color: white;
}

/* for mobile phones */
@media only screen and (max-width: 600px) {
    .products{
        width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr ;
    place-items: center;
    }
    .shopTitle{
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }
}